---
title: "**[DV2023]** 03wk-2: Pandas"
author: "JiyunLim"
date: "09/20/2023"
categories:
  - Pandas
  - Indexing
---

> Pandas 행과열의 선택

# 1. 강의영상

In [1]:
# {{<video https://youtu.be/playlist?list=PLQqh36zP38-z-WJQdo9LACRZw0Lc2alqm&si=KeI8SchuDRPsRfgw >}}

# 2. Imports

In [1]:
# !pip install plotnine -- 설치해야해요~

In [2]:
import numpy as np
import pandas as pd

# 3. Pandas: 행과 열의 선택

`-` 두 가지 형태의 데이터프레임

In [8]:
dct = {'date': ['12/30','12/31','01/01','01/02','01/03'], 'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}

In [10]:
dct

{'date': ['12/30', '12/31', '01/01', '01/02', '01/03'],
 'X1': [65, 95, 65, 55, 80],
 'X2': [55, 100, 90, 80, 30],
 'X3': [50, 50, 60, 75, 30],
 'X4': [40, 80, 30, 80, 100]}

In [13]:
dct['date']

['12/30', '12/31', '01/01', '01/02', '01/03']

In [14]:
df = pd.DataFrame(dct)
df

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

In [16]:
df.index = ['12/30', '12/31', '01/01', '01/02', '01/03'] # 이런식으로도 인덱스를 변경 가능..
df

        date  X1   X2  X3   X4
12/30  12/30  65   55  50   40
12/31  12/31  95  100  50   80
01/01  01/01  65   90  60   30
01/02  01/02  55   80  75   80
01/03  01/03  80   30  30  100

In [19]:
# 원래대로
df = pd.DataFrame(dct)

In [20]:
# row에 대한 인덱스가 timeseries일 때
ts = pd.DataFrame({'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}, index=['12/30','12/31','01/01','01/02','01/03']) 
ts

       X1   X2  X3   X4
12/30  65   55  50   40
12/31  95  100  50   80
01/01  65   90  60   30
01/02  55   80  75   80
01/03  80   30  30  100

## A. 열의 선택

`-` 방법1: `df.?` + str

::: {.callout-note}
## 방법1 (df.?)

class의 instance 느낌으로 df를 하나의 오브젝트라고 보면, 안에있는 어트리뷰터 중 하나로 접근하는 느낌.
:::

In [21]:
df.X1

0    65
1    95
2    65
3    55
4    80
Name: X1, dtype: int64

In [5]:
# df.X1?

`-` 방법2: `df[?]` + str, \[str,str\]

::: {.callout-note}
## 방법2 (df.?)

dictionary에서 value를 뽑으려면 key로 접근하듯이~ (기원은 딕셔너리)

**DataFrame은 dictionary에서 플러스 알파느낌**
:::

In [16]:
dct # 딕셔너리

{'date': ['12/30', '12/31', '01/01', '01/02', '01/03'],
 'X1': [65, 95, 65, 55, 80],
 'X2': [55, 100, 90, 80, 30],
 'X3': [50, 50, 60, 75, 30],
 'X4': [40, 80, 30, 80, 100]}

In [17]:
dct.keys() # dictinoary keys = column name

dict_keys(['date', 'X1', 'X2', 'X3', 'X4'])

In [14]:
df['X1'] # df를 딕셔너리처럼 보고 있음. (key를 X1으로 갖고 있는 컬럼을 뽑는 것)

0    65
1    95
2    65
3    55
4    80
Name: X1, dtype: int64

In [19]:
type(df['X1']) # 1차원 array

pandas.core.series.Series

In [21]:
df[['X1']] # 프레임 형태로 (column vec형태)

   X1
0  65
1  95
2  65
3  55
4  80

In [23]:
dct[['X1']] # 이런건 없음.

TypeError: unhashable type: 'list'

In [24]:
df[['X1', 'X3']]

   X1  X3
0  65  50
1  95  50
2  65  60
3  55  75
4  80  30

In [25]:
dct[['X1','X3']] # 당연히 안됨.

TypeError: unhashable type: 'list'

- dataframe은 dictionary에서 플러스 알파느낌이라는 것을 기억하자.

`-` df.X는 변수명에 `_` 언더바가 있으면 안된다.

In [26]:
df.rename({'X1':'X_1'}, axis=1)

    date  X_1   X2  X3   X4
0  12/30   65   55  50   40
1  12/31   95  100  50   80
2  01/01   65   90  60   30
3  01/02   55   80  75   80
4  01/03   80   30  30  100

In [27]:
df.X_1  # 에러남!

AttributeError: 'DataFrame' object has no attribute 'X_1'

In [107]:
# df['X1'] # str 
# df[['X1']] # [str]
# df[['X1','X3']] # [str,str]

`-` 방법3: `df.iloc[:,?]` + int, int:int, \[int,int\], \[bool,bool\],
range

In [28]:
df.iloc # 통쨰로 numpy array라고 생각.

In [30]:
df[:,0] # 이건 안되지만

InvalidIndexError: (slice(None, None, None), 0)

In [31]:
df.iloc[:,0] # 이건 된다!

0    12/30
1    12/31
2    01/01
3    01/02
4    01/03
Name: date, dtype: object

In [38]:
# df.iloc[:,0] # int
# df.iloc[:,-2:] # int:int - 슬라이싱
# df.iloc[:,1::2] # int:int - 스트라이딩
# df.iloc[:,[0]] # [int]
# df.iloc[:,[0,1]] # [int,int]
# df.iloc[:,[True,True,False,False,False]] # bool의 list 
# df.iloc[:,range(2)] # range

::: {.callout-note}

df.iloc이 통째로 numpy array이다
:::

`-` <font color='blue'>방법4: `df.loc[:,?]` + str, ‘str:str’, \[str,str\], \[bool,bool\]</font>

> 컨셉: 편해보이는 건 다 가져다 쓰겠다.

In [43]:
df.loc[:,:] # 모든 행과 컬럼을 다 뽑겠다.

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

In [44]:
df.loc[:,['X1','X3']]

   X1  X3
0  65  50
1  95  50
2  65  60
3  55  75
4  80  30

In [47]:
df.loc[:,'date':'X3'] # 문자열로 슬라이싱도 됨.

    date  X1   X2  X3
0  12/30  65   55  50
1  12/31  95  100  50
2  01/01  65   90  60
3  01/02  55   80  75
4  01/03  80   30  30

In [48]:
df.loc[:,'date'::2] # 2칸씩 건너서 뽑을수도 있어.

    date   X2   X4
0  12/30   55   40
1  12/31  100   80
2  01/01   90   30
3  01/02   80   80
4  01/03   30  100

In [51]:
df.loc[:,[True, False, False, True, True]] # true만 뽑을 수도~

    date  X3   X4
0  12/30  50   40
1  12/31  50   80
2  01/01  60   30
3  01/02  75   80
4  01/03  30  100

In [53]:
df.loc[[0,2,4], [True,False,True, False, True]] # row는 숫자로도 뽑힘.

    date  X2   X4
0  12/30  55   40
2  01/01  90   30
4  01/03  30  100

- row이름이 숫자로 되어있어서 가능한 거임. (인덱싱의 편의상 숫자가 좋음)

In [109]:
# df.loc[:,'X1'] # str
# df.loc[:,'X1':'X3'] # 'str':'str' -- 칼럼이름으로 슬라이싱 **
# df.loc[:,'X1'::2] # 'str':'str' -- 칼럼이름으로 스트라이딩 ** 
# df.loc[:,['X1']] # [str]
# df.loc[:,['X1','X4']] # [str,str]
# df.loc[:,[True,False,False,True]] # bool의 list

## B. 행의 선택

`-` 방법1: `df[]` + int:int, str:str, \[bool,bool\],
pd.Series(\[bool,bool\]) – $(\star\star\star\star\star)$

In [56]:
df[0:3] # 딕셔너리 타입인데 숫자로도 되네? (예외사항)

    date  X1   X2  X3  X4
0  12/30  65   55  50  40
1  12/31  95  100  50  80
2  01/01  65   90  60  30

In [57]:
df[:2]

    date  X1   X2  X3  X4
0  12/30  65   55  50  40
1  12/31  95  100  50  80

In [58]:
df[::2] # 스트라이딩

    date  X1  X2  X3   X4
0  12/30  65  55  50   40
2  01/01  65  90  60   30
4  01/03  80  30  30  100

In [59]:
ts

       X1   X2  X3   X4
12/30  65   55  50   40
12/31  95  100  50   80
01/01  65   90  60   30
01/02  55   80  75   80
01/03  80   30  30  100

In [61]:
ts['12/30':'01/01'] # 이것도 됨!

       X1   X2  X3  X4
12/30  65   55  50  40
12/31  95  100  50  80
01/01  65   90  60  30

In [64]:
ts['12/31'::2] # 12/31부터 2칸씩 점프를 하면서 뽑아줘.

       X1   X2  X3  X4
12/31  95  100  50  80
01/02  55   80  75  80

In [65]:
df[[True, False, False, False, False]]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40

In [71]:
df[['12' in date for date in df.date]]

    date  X1   X2  X3  X4
0  12/30  65   55  50  40
1  12/31  95  100  50  80

In [72]:
df[df.X1 < 70] # pd.Series([bool,bool])

    date  X1  X2  X3  X4
0  12/30  65  55  50  40
2  01/01  65  90  60  30
3  01/02  55  80  75  80

In [119]:
# df[:2] # int:int -- 슬라이싱 // df.iloc[:2,:], df.iloc[:2] 와 같음
# df[::2] # int:int -- 스트라이딩 
# ts['12/30':'01/02'] # str:str -- 슬라이싱
# ts['12/31'::2] # str:str -- 스트라이딩
# df[['12' in date for date in df.date]] # [bool,bool]
# df[df.X1 < 70] # pd.Series([bool,bool])

`-` 방법2: `df.iloc[]`, `df.iloc[,:]` + int, int:int, \[int,int\],
\[bool,bool\], range

명시적으로 쓴다면 `df.iloc[,:]` 지만 생략해도 같은 코드이긴 함.

In [73]:
df.iloc[:,:] # default

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

In [77]:
df.iloc[[0],:] # dataframe 형식이 유지되면서 뽑힘.

    date  X1  X2  X3  X4
0  12/30  65  55  50  40

In [78]:
df.iloc[0] # numpy에서 되니까 되는거임.

date    12/30
X1         65
X2         55
X3         50
X4         40
Name: 0, dtype: object

In [79]:
lst = [[1,2,3], [3,4,5]]
lst[0]

[1, 2, 3]

In [80]:
np.array(lst) # 중첩된 리스트로 보면?

array([[1, 2, 3],
       [3, 4, 5]])

In [82]:
np.array(lst)[0]

array([1, 2, 3])

In [84]:
pd.DataFrame(np.array(lst), columns=list('ABC')).iloc[0] # 첫번째 로우가 뽑힘.

A    1
B    2
C    3
Name: 0, dtype: int32

In [122]:
# df.iloc[0] # int 
# df.iloc[-2:] # int:int -- 슬라이싱
# df.iloc[1::2] # int:int -- 스트라이딩
# df.iloc[[0]] # [int]
# df.iloc[[0,1]] # [int,int]
# df.iloc[['12' in date for date in df.date]] # [bool,bool]
# df.iloc[range(2)] # range

In [125]:
# df.iloc[0,:] # int 
# df.iloc[-2:,:] # int:int -- 슬라이싱
# df.iloc[1::2,:] # int:int -- 스트라이딩
# df.iloc[[0],:] # [int]
# df.iloc[[0,1],:] # [int,int]
# df.iloc[['12' in date for date in df.date],:] # [bool,bool]
# df.iloc[range(2),:] # range

`-` 방법3: `df.loc[]`, `df.loc[,:]` + int, str, int:int, str:str,
\[int,int\], \[str,str\], \[bool,bool\], pd.Series(\[bool,bool\])

In [85]:
ts.loc['12/30']

X1    65
X2    55
X3    50
X4    40
Name: 12/30, dtype: int64

In [86]:
ts.loc[['12/30','01/01']]

       X1  X2  X3  X4
12/30  65  55  50  40
01/01  65  90  60  30

**차이점** (끝점의 포함여부)

In [87]:
df.iloc[:2,:]  # 끝점이 포함되지 X

    date  X1   X2  X3  X4
0  12/30  65   55  50  40
1  12/31  95  100  50  80

In [89]:
df.loc[:2,:] # 끝점이 포함 O

    date  X1   X2  X3  X4
0  12/30  65   55  50  40
1  12/31  95  100  50  80
2  01/01  65   90  60  30

In [92]:
df.loc[df.X1>70] # 이건 되는데

    date  X1   X2  X3   X4
1  12/31  95  100  50   80
4  01/03  80   30  30  100

In [96]:
type(df.X1>70)

pandas.core.series.Series

In [97]:
df.iloc[df.X1>70] # 이건 안되네? (series는 안됨)

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [98]:
df.iloc[list(df.X1>70)] # list로 바꾸면 된다!

    date  X1   X2  X3   X4
1  12/31  95  100  50   80
4  01/03  80   30  30  100

In [137]:
# df.loc[0] # int 
# ts.loc['12/30'] # str 
# df.loc[:2] # int:int 
# ts.loc[:'01/02'] # str:str 
# df.loc[[0,1]] # [int,int]
# ts.loc[['12/30','01/01']] # [str,str]
# df.loc[['12' in date for date in df.date]] # [bool,bool]
# df.loc[df.X1>70] # pd.Series([bool,bool])

## D. 제 스타일

`-` **가장 안전한 코드**

In [99]:
df.loc[:,:]

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

`-` 상황1: 하나의 col을 뽑으려 할때 좋은 코드

In [142]:
# df.X1 # 최애 
# df['X1'] # 차애 
# df[['X1']] # 차애

- `df.X1`이 왜 좋냐면 변수가 많을 때 .찍고 탭누르면 뜨는 변수이름들 중에 고르면 되기 때문에 매우 편리함.

`-` 상황2: row 슬라이싱을 할때 좋은 코드 $(\star\star\star)$

In [143]:
# df[:5] # 최애 
# ts[:'01/02'] # 시계열인 경우

In [108]:
ts[:'01/02']

       X1   X2  X3  X4
12/30  65   55  50  40
12/31  95  100  50  80
01/01  65   90  60  30
01/02  55   80  75  80

`-` 상황3: 조건에 맞는 row를 뽑을때 좋은 코드

In [144]:
# df[df.X1<60] # 최애
# df.loc[['12' in date for date in df.date]] # 차애

In [111]:
df.loc[['12' in date for date in df.date],:]

    date  X1   X2  X3  X4
0  12/30  65   55  50  40
1  12/31  95  100  50  80

`-` 상황4: 하나의 row를 뽑으려 할때 좋은 코드

In [146]:
# df.iloc[0] # 최애 
# df.loc[0] # 차애

In [112]:
df.iloc[0]

date    12/30
X1         65
X2         55
X3         50
X4         40
Name: 0, dtype: object

In [113]:
df.loc[0]

date    12/30
X1         65
X2         55
X3         50
X4         40
Name: 0, dtype: object

In [114]:
ts.loc['12/31',:]

X1     95
X2    100
X3     50
X4     80
Name: 12/31, dtype: int64

In [117]:
# ts.loc[0,:] # 이건 안됨.

`-` 상황5: (row,col)을 뽑으려 할때 좋은 코드

In [120]:
df.loc[2,'X2']

90

In [122]:
df.X2[2]

90

In [123]:
df.X2[:2] # 이것도 편함.

0     55
1    100
Name: X2, dtype: int64

In [148]:
# 최애: pd.Series를 뽑고 -> 인덱스로접근
# df.X1[0]
# df['X1'][0]

# 차애: iloc, loc 으로 한번에 뽑기
# df.iloc[0,0]
# df.loc[0,'X1']

***위의 상황이외에는 `df.loc[:,:]`를 사용하는것이 유리하다***

`-` 상황6: column 슬라이싱을 할때

In [124]:
# df.loc[:,'X1':'X3'] # 끝점포함

`-` 상황7: row + column 슬라이싱을 하는 가장 좋은 코드

In [125]:
df.loc[::2,'X1':'X2']

   X1  X2
0  65  55
2  65  90
4  80  30

`-` 상황8: 조건에 맞는 col을 뽑기에 가장 좋은 코드

In [126]:
# df.loc[:,[len(colname)>2 for colname in df.columns]]

`-` 상황9: 조건에 맞는 row, col을 뽑기에 가장 좋은 코드

In [127]:
# df.loc[df.X1>70,[len(colname)>2 for colname in df.columns]]

## D. 제 스타일 X

`-` 제가 안쓰는 코드1

In [128]:
df[:1]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40

이러면 내 입장에서는 마치 아래가 동작할 것 같잖아..

In [129]:
df[0]

KeyError: 0

`-` 제가 안쓰는 코드2: bool의 list를 사용할때 iloc은 가급적 쓰지마세요

In [130]:
df.iloc[list(df['X1']<80),:]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40
2  01/01  65  90  60  30
3  01/02  55  80  75  80

이러면 마치 아래도 동작할 것 같잖아..

In [131]:
df.iloc[df['X1']<80,:]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

## E. 요약

`-` 알아두면 좋은 규칙

-   `.iloc[]` 와 `.iloc[,:]`는 완전히 동등하다.
-   `.loc[]` 와 `.loc[,:]`는 완전히 동등하다.
-   결과를 `pd.Series` 형태가 아닌 `pd.DataFrame` 형태로 얻고 싶다면
    `[[?]]`를 사용하면 된다.

`-` 정리

### ROW

|     type of indexer      | `.` | `[]` | `.iloc` |  `.loc`  |        내가 쓴다면?         |
|:--------------------------:|:-----:|:------:|:---------:|:----------:|:---------:|
|           int            |  X  |  X   |    O    | $\Delta$ |       `df.iloc[3,:]`        |
|         int:int          |  X  |  O   |    O    | $\Delta$ |          `df[3:5]`          |
|       \[int,int\]        |  X  |  X   |    O    | $\Delta$ |      `df.iloc[idx,:]`       |
|           str            |  X  |  X   |    X    |    O     |     `ts.loc['time1',:]`     |
|         str:str          |  X  |  O   |    X    |    O     | `ts.loc['time1':'time2',:]` |
|       \[str,str\]        |  X  |  X   |    X    |    O     |           안할 듯           |
|      \[bool,bool\]       |  X  |  O   |    O    |    O     |     `df[filtered_idx]`      |
| pd.Series(\[bool,bool\]) |  X  |  O   |    X    |    O     |       `df[df.X1>20]`        |

### COL

| type of indexer | target | `.` | `[]` | `.iloc` | `.loc` |       내가 쓴다면?       |
|:----------------------:|:-------:|:----:|:-----:|:-------:|:--------:|:-------:|
|       int       |  col   |  X  |  X   |    O    |   X    |      `df.iloc[:,0]`      |
|     int:int     |  col   |  X  |  X   |    O    |   X    |     `df.iloc[:,0:2]`     |
|   \[int,int\]   |  col   |  X  |  X   |    O    |   X    |     `df.iloc[:,idx]`     |
|       str       |  col   |  O  |  O   |    X    |   O    |     `df.loc[:,'X1']`     |
|     str:str     |  col   |  X  |  X   |    X    |   O    |  `df.loc[:,'X1':'X4']`   |
|   \[str,str\]   |  col   |  X  |  O   |    X    |   O    | `df.loc[:,colname_list]` |
|  \[bool,bool\]  |  col   |  X  |  X   |    O    |   O    |  `df.loc[:,bool_list]`   |

# 4. Pandas: query

In [226]:
df=pd.DataFrame(np.random.normal(size=(20,4)),columns=list('ABCD'),index=pd.date_range('20221226',periods=20)).assign(E=['A']*10+['B']*10)
df

In [26]:
pd.date_range('20221226', periods=20)

DatetimeIndex(['2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31', '2023-01-01', '2023-01-02',
               '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06',
               '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10',
               '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-14'],
              dtype='datetime64[ns]', freq='D')

## A. 기본 query

`-` 예시1: `A>0 and B<0`

In [227]:
df.query('A>0 and B<0')

`-` 예시2: `A<B<C`

In [228]:
df.query('A<B<C')

`-` 예시3: `(A+B/2) > 0`

In [229]:
df.query('(A+B)>0')

`-` 예시4: `(A+B/2) > 0` and `E=='A'`

In [230]:
df.query('(A+B)>0 and E=="A"')

In [231]:
df.query("(A+B)>0 and E=='A'")

## B. 외부변수를 이용

`-` 예시

In [205]:
mean = df.A.mean()
mean

In [206]:
df.query('A > @mean')

## C. Index로 query

`-` 예시

In [217]:
df.query('index <= "2022-12-30" or index == "2023-01-10"')

# 5. Pandas: 할당

`-` 자료

In [219]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin})
df

## A. `df.assign()`

`-` 방법1: assign을 이용한 추가

In [220]:
df.assign(total = df.att*0.1 + df.rep*0.2 + df.mid*0.35 + df.fin*0.35)

> 이 방법은 df를 일시적으로 변화시킴

## B. `df.eval()`

`-` 방법2: eval을 이용한 추가

In [221]:
df.eval('total = att*0.1 + rep*0.2 + mid*0.3 + fin*0.4')

> 이 방법은 df를 일시적으로 변화시킴

## C. `df[colname] = xxx`

`-` 방법3: `df['total']` 을 이용한 할당

In [183]:
df['total'] = df.att*0.1 + df.rep*0.2 + df.mid*0.3 + df.fin*0.4
df

> 이 방법은 df를 **영구적** 으로 변화시킴

# 6. HW

`-` 문제: 아래의 자료에서 입학년도를 추가하고 싶다면?

In [23]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
student_id = [ '2023-12362', '2022-12471', '2023-12333', '2022-12400', '2022-12377',
               '2022-12469', '2023-12314', '2022-12363', '2023-12445', '2023-12336',
               '2023-12426', '2022-12380', '2023-12422', '2022-12488', '2022-12370',
               '2023-12443', '2022-12463', '2023-12491', '2023-12340', '2022-12312' ]
df = pd.DataFrame({'student_id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})
df.head()

   student_id  att  rep  mid  fin
0  2023-12362   65   55   50   40
1  2022-12471   95  100   50   80
2  2023-12333   65   90   60   30
3  2022-12400   55   80   75   80
4  2022-12377   80   30   30  100

In [25]:
df.assign(year=[l.split('-')[0] for l in df.student_id]).query('year=="2022"')

    student_id  att  rep  mid  fin  year
1   2022-12471   95  100   50   80  2022
3   2022-12400   55   80   75   80  2022
4   2022-12377   80   30   30  100  2022
5   2022-12469   75   40  100   15  2022
7   2022-12363   60   60   25    0  2022
11  2022-12380   95   95   45    0  2022
13  2022-12488   50   80   40   30  2022
14  2022-12370   50   55   15   85  2022
16  2022-12463   50   50   45   10  2022
19  2022-12312   90   90   80   90  2022